.App {
  margin: 15px;
  text-align: center;
  border: 2px solid pink;
  border-radius: 3px;
  width: 350px;
  height: 310px;
}

.pic {
  border-radius: 50%;
}

button {
  margin: 15px;
  padding: 10px 10px;
  border-radius: 3px;
  border-style: none;
  background: pink;
  cursor: pointer;
}
