.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 15px;
  text-align: center;
  border: 2px solid pink;
  border-radius: 3px;
  padding: 10px 30px;
}

.pic {
  border-radius: 50%;
}

.iconrow {
  display: flex;
  justify-content: space-evenly;
}

button {
  margin: 15px;
  padding: 10px 10px;
  border-radius: 3px;
  border-style: none;
  background: pink;
  cursor: pointer;
}

a {
  cursor: pointer;
  color: #000;
}

